@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

h2, button, a, h3 {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #EDF2F4;
    font-size: larger;
}

.text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: larger;
}


@media (max-width: 950px) {
  .grid-cols-3 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
    body {
      font-size: 0.9em;
    }

  }
  
  @media (max-width: 576px) {
    .text-resize {
      font-size: 1em;
    }
  }
  
  .shadow-custom {
    box-shadow: 0 3px 20px rgba(40,91,212,0.73);
  }

  .hover\:shadow-red:hover {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  }

#gradient-1 {
  background-image: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );
}
  
#gradient-2 {
  background-color: #3EECAC;
  background-image: linear-gradient(-45deg, #3EECAC 0%, #EE74E1 100%);
}

#gradient-3 {
  background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);

}


@keyframes pulse {
  0% {
    color: #caf0f8;
  }
  12% {
    color: #90e0ef;
  }
  25% {
    color: #00b4d8;
  }
  38% {
    color: #0077b6;
  }
  50% {
    color: #03045e;
  }
  62% {
    color: #0077b6;
  }
  75% {
    color: #00b4d8;
  }
  88% {
    color: #90e0ef;
  }
  100% {
    color: #caf0f8;
  }
}

@keyframes color-change-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.gradient-text {
  background-image: linear-gradient(to right, #EDF2F4, #FCD34D);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color-change-animation 5s linear infinite;
}

.btn-size {
  width: 8em;
}
